
<h2>hello</h2>
<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side" >

  </mat-sidenav>

  <mat-sidenav-content>
    <p>
      <button mat-button (click)="sidenav.toggle()">Show Side nav</button>
    </p>
    <!-- <router-outlet></router-outlet> -->
  </mat-sidenav-content>
</mat-sidenav-container>
