<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side" >
    <ul>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['demoone']">demo one</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['subject']">subject</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['behavioursubject']">behavioursubject</a>
    </li>
  </ul>
  </mat-sidenav>

  <mat-sidenav-content>

    <p>
      <button mat-button (click)="sidenav.toggle()">Show Side nav</button>
    </p>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
