<mat-toolbar color="primary">
 Eamonn's NG Learning Space
 <span class="spacer"></span>
 <button mat-flat-button  color="primary" routerLink="home" routerLinkActive="active">Home</button>
 <button mat-flat-button  color="primary" routerLink="materialui" routerLinkActive="active">Material Ui </button>
 <button mat-flat-button  color="primary" routerLink="ngrx" routerLinkActive="active">NGRX </button>
 <button mat-flat-button  color="primary" routerLink="rxjs" routerLinkActive="active">RXJS</button>
</mat-toolbar>

<main>
  <router-outlet></router-outlet>
</main>
